@import "./colors.scss";

body {
  margin: 0;
  padding: 0;
  position: relative;
}

button {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
}

a {
  text-decoration: none;
}


// Scrollbar
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}