@import "../../styles/";

.table {
    .table-header {
        @include flexbox();
        @include align-items(center);
        background-color: $accent-secondary;
        padding: 10px;
        padding-right: 25px;
        height: 30px;
        font-weight: 600;
    }

    .table-body {
        overflow-y: scroll;
        overflow-x: auto;
        max-height: calc(65px*5);

        .table-row a{
            @include flexbox();
            color: $font-primary;
            height: 20px;
            border-bottom: 1px solid $accent-primary;
            border-radius: 2px;
            padding: 10px;

            &:hover {
                background-color: $accent-primary;
            }
        }
    }

    .column-small {
        width: 20%;
    }

    .column-medium {
        width: 40%;
    }

    .align-right {
        text-align: right;
    }

}
